{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "webFolder" : "${webswing.rootDir}/apps/webapps",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ]
  },
  "/swingset3" : {
    "path" : "/swingset3",
    "webFolder" : "${webswing.rootDir}/apps/SwingSet3/webroot",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "homeDir" : "${webswing.rootDir}/apps/SwingSet3",
    "langFolder" : "${webswing.configDir}/lang",
    "swingConfig" : {
      "name" : "SwingSet3",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar", "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "fontConfig" : {
        "dialog" : "${webswing.configDir}/fonts/Roboto-Regular.ttf",
        "dialoginput" : "${webswing.configDir}/fonts/RobotoMono-Regular.ttf",
        "serif" : "${webswing.configDir}/fonts/RobotoSlab-Regular.ttf"
      },
      "maxClients" : 100,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "directdraw" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.sun.swingset3.SwingSet3"
      },
      "allowedCorsOrigins" : [ "*" ],
      "userDir" : "${user}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "autoLogout" : true,
      "transferDir" : "${user}/upload"
    }
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "homeDir" : "${webswing.rootDir}/apps/nbmin",
    "swingConfig" : {
      "name" : "NetBeans Platform",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "*.jar" ],
      "theme" : "Murrine",
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      },
      "allowedCorsOrigins" : [ ]
    }
  },
  "/applet" : {
    "path" : "/applet",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${webswing.rootDir}/apps/SwingSet3",
    "swingConfig" : {
      "name" : "SwingSet3 applet",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar", "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "maxClients" : -1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 100,
      "allowStealSession" : true,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "directdraw" : false,
      "allowDelete" : false,
      "allowDownload" : false,
      "allowAutoDownload" : true,
      "allowUpload" : false,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Applet",
      "launcherConfig" : {
        "appletClass" : "org.webswing.demo.applet.SwingSet3Applet",
        "parameters" : {
          "param1" : "paramvalue1",
          "param2" : "paramvalue2"
        }
      },
      "allowedCorsOrigins" : [ ],
      "userDir" : "${user}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "autoLogout" : true
    }
  },
  "/javafx" : {
    "path" : "/javafx",
    "homeDir" : "${webswing.rootDir}/apps/ensemble8",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "icon" : "icon.png",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "JavaFx Demo",
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "debug" : true,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dquantum.verbose=true -Dprism.verbose=true",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "ensemble.EnsembleApp"
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar", "*.jar" ],
      "allowedCorsOrigins" : [ ],
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true
    }
  },
  "/myapp" : {
    "path" : "/myapp"
  },
  "/d" : {
    "path" : "/d"
  },
  "/test" : {
    "path" : "/test",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "classPath" : [ ],
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "allowedCorsOrigins" : [ ],
    "swingConfig" : {
      "name" : "My Application",
      "theme" : "Murrine",
      "fontConfig" : { },
      "directdraw" : true,
      "javaFx" : false,
      "compositingWinManager" : false,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "classPathEntries" : [ "Untitled.jar" ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "program.Main"
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "loadingAnimationDelay" : 2,
      "allowStealSession" : true,
      "autoLogout" : true,
      "sessionLogging" : false,
      "isolatedFs" : false,
      "allowUpload" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "testMode" : false,
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "transparentFileSave" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "loggingDirectory" : "${webswing.logsDir:-logs/}"
    }
  }
}